<!-- app/views/video/index.html.erb -->

<div class="container">
  <h1>All Video Files</h1>
  <div class="row">

      <%= render partial: "templates/template", collection: @templates %>

  </div>
</div>