<form id="audio-form" method="get" action="/audio/save">
  <input type="button" id="start-recording" value="Start Recording">
  <input type="button" id="stop-recording" value="Stop Recording">
  <input type="hidden" id="audio-blob" name="audio_blob">
  <input type="submit" value="Save Audio">
</form>

