<div class="video-background">
  <video autoplay muted loop>
    <source src="https://reeelapps-app.s3.us-west-2.amazonaws.com/content_reel_bg+-video-2+(720p).mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>
  <div class="content">
    <%= render "projects/form",project: Project.new, class: 'position-relative '%>
    <%= link_to 'View Projects',projects_path, class: 'btn btn-lg project_view modal_buttons' %>
    <%= link_to 'Integrations ',  integration_path,class: 'btn btn-lg integration-button modal_buttons' %>
  </div>
  <div class="container px-5 py-5 px-md-5 text-center text-lg-start my-5">
    <div class="row gx-lg-5 align-items-center mb-5">
      <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
        <h1 class="my-2 display-5 fw-bold ls-tight text-center homepage_heading">
          WELCOME TO <span class="homepage_heading_span">CONTENTREEL</span>
        </h1>
        <p class="mb-4 text-center homepage_demo">
          Instantly create impactful and engaging content videos for your YouTube channel, TikTok,
          Instagram Reels and everything in between.
          Create all shapes and sizes of videos and publish them everyday, dominating niche.
        </p>
        <button class="btn rounded-pill btn-lg btn-block social_connect_button">Watch Demo Videos</button>
      </div>
   </div>
  </div>
</div>
<!-- Page Content -->


