<br>
<div class="container">
  <%= form_tag(share_post_path, method: :get) do %>
    <label style="cursor: auto; color: white">Select Data:</label>
    <%= select_tag :id, grouped_options_for_select(categorize_data) ,{prompt: 'Select Data'}  %>
    <%= submit_tag 'Submit', class: 'mk-button left-corners right-corners blue-button', id:"submit-btn"%>
  <% end %>

</div>