



<div class="wrapper">


  <div class="container">

    <div class="row g-1">

      <div>
        <%@reels.each do|reel| %>

          <div class="col-md-3">

            <div class="card p-3">

              <div class="text-center">

                <h1 class="content-reel">Content Reel</h1>

              </div>

              <div class="product-details">
                <%=reel.video_set%>
                <br/>
                <%= link_to "Edit",reel_path(reel),class:'btn btn-dark' %>
                <%= link_to "Delete", reel, data: { turbo_method: :delete }, class: 'btn btn-danger'%>
                <%#= button_to "Delete1",project,method: :delete,class:'btn btn-danger' %>


              </div>

            </div>



          </div>


          </div>
        <%end %>
        </div>

  </div>


</div>