<h1>Here is your video</h1>
<%= stylesheet_link_tag 'video' %>

<div class="video-container">
  <video controls>
    <source src="<%= @result.url %>" type="video/mp4">
  </video>
  <%=render partial: "integration/load_fb_data" %>
</div>