# <h1> Pick the video </h1>
# <!-- app/views/videos/index.html.erb -->

#
<div class="container">
  # <h1>All Video Files</h1>

  #
  <div class="row">
    #
    <% @videos.each do |video| %>
      #
      <div class="col-md-4">
        #
        <div class="card mb-4">
          #
          <% if video.video_file.attached? %>
            #
            <video controls class="card-img-top">
              #
              <source src="<%= url_for(video.video_file) %>" type="<%= video.video_file.content_type %>">
              #
            </video>
            #
          <% else %>
            #
            <div class="card-body">
              # <p class="card-text">No video file attached.</p>
              #
            </div>
            #
          <% end %>
          #
          <div class="card-footer">
            # <h5 class="card-title"><%= video.title %></h5>
            #
          </div>
          #
        </div>
        #
      </div>
      #
    <% end %>
    #
  </div>
  #
</div>
