.background-radial-gradient {
    background-color: hsl(218, 41%, 15%);
    background-image: radial-gradient(650px circle at 0% 0%,
    hsl(218, 41%, 35%) 15%,
    hsl(218, 41%, 30%) 35%,
    hsl(218, 41%, 20%) 75%,
    hsl(218, 41%, 19%) 80%,
    transparent 100%),
    radial-gradient(1250px circle at 100% 100%,
            hsl(218, 41%, 45%) 15%,
            hsl(218, 41%, 30%) 35%,
            hsl(218, 41%, 20%) 75%,
            hsl(218, 41%, 19%) 80%,
            transparent 100%);
}

#radius-shape-1 {

    height: 220px;
    width: 220px;
    top: -60px;
    left: -130px;
    background: radial-gradient(#44006b, #ad1fff);
    overflow: hidden;
}

#radius-shape-2 {

    border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
    bottom: -60px;
    right: -110px;
    width: 300px;
    height: 300px;
    background: radial-gradient(#44006b, #ad1fff);
    overflow: hidden;
}

.bg-glass {
    background: rgba(0,0,0,.6) !important;
    backdrop-filter: saturate(200%) blur(25px);
}
.social_connect_button
{
    height: 50px;
    width: 100%;
    background: radial-gradient(#44008b, #ad1cff);
    float: left;
    border:0px;
    margin-bottom: 20px;
    color:white ;
    box-shadow: 0 0 1px #ccc;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-timing-function: linear;
    box-shadow:0px 0 0 #31708f  inset;
}
.social_connect_button:hover{
    box-shadow:500px 0 0 white inset;
    text-decoration-color: #c16bed;
}
.forgot-link
{
    color: #e1a6ff;
    padding-left: 30%;
}

.login_form_style{
    color: white;float: left
}
